<ul id="articles" class="article-list">
  {% for post in posts %}
    <li>
      <a class="article-title" href="{{ post|url }}">{{ post.title }}</a>
      {% set desc = post.description or post.meta_desc %}
      {% set has_date = post.pub_date %}
      {% if desc %}
      <p class="article-description">
        {{ desc }}{% if has_date %} ({{ post.pub_date.strftime('%b %Y') }}){% endif %}
      </p>
      {% endif %}
      {% set tags = post.tags %}
      {% if tags %}
      <p class="article-meta">
        {% for tag in tags %}
        <a href="/articles@tag/{{ tag }}/">#{{ tag }}</a>
        {% endfor %}
      </p>
      {% endif %}
    </li>
  {% endfor %}
</ul>
