<nav>
  <div class="wrapper">
    <a {% if this._path=='/' %} class="active" {% endif %} href="/"><span>H</span>ome</a>
    {% with is_active = this.path != '/' and this.path.startswith('/articles') %}
    <a {% if is_active %} class="active" {% endif %} href="/articles/"><span>A</span>rticles</a>
    {% endwith %}

    {% with is_active = this.path != '/' and this.path.startswith('/projects') %}
    <a {% if is_active %} class="active" {% endif %} href="/projects/"><span>P</span>rojects</a>
    {% endwith %}

    {% with is_active = this.path != '/' and this.path.startswith('/links') %}
    <a {% if is_active %} class="active" {% endif %} href="/links/"><span>L</span>inks</a>
    {% endwith %}

    {% with is_active = this.path != '/' and this.path.startswith('/products-i-like') %}
    <a {% if is_active %} class="active" {% endif %} href="/products/"><span>W</span>ishlist</a>
    {% endwith %}

    <a target="_blank" href="/resume/resume.html"><span>R</span>esume</a>
  </div>
</nav>
