{% extends "layout.html" %}
{% from "macros/article.html" import render_article %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<ul>
{% for child in this.children if child.children %}
<li><a href="{{ child.path }}">{{ child.record_label }}</a></li>
{% endfor %}
</ul>

    <ul id="articles">
    {% for post in this.pagination.items %}
    <li><a href="{{ post|url }}">{{ post.title }}</a> <small>{{ post.pub_date }}</small></li>
    {% endfor %}
    </ul>
    {{ render_pagination(this.pagination) }}
{% endblock %}
