{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<h1>Articles</h1>
<div class="articles-layout">
  <main class="articles-main">
    {% with posts=this.pagination.items %}{% include "_articles.html" %}{% endwith %}
    {{ render_pagination(this.pagination) }}
  </main>
  <aside class="articles-sidebar">
    {% with tags=this.children.distinct('tags') %}
    {% include "_tags.html" %}
    {% endwith %}
  </aside>
</div>
{% endblock %}
