{% extends "layout.html" %}
{% from "macros/article.html" import render_article %}

{% block title %}{{ this.title }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block description %}{{ this.description|truncate(155) or this.body|striptags|truncate(155) }}{% endblock %}
{% block extra_head %}
  {% if this.has_code %}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <link rel="stylesheet" type="text/css" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night-bright.min.css" />
  {% endif %}
{% endblock %}
{% block meta_img %}{% if this.attachments.get('hero.png') %}{{ this.attachments.get('hero.png').path}}{% endif %}{% if this.attachments.get('hero.jpg') %}{{ this.attachments.get('hero.jpg').path}}{% endif %}{% endblock %}

{% block body %}
{{ render_article(this) }}
{% if this.tags %}
  <ul>
    {% for t in this.tags -%}
      <li>
        <a href="{{ ('/articles@tag/' ~ t)|url }}">
          All posts tagged {{ t }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<script src="https://utteranc.es/client.js"
        repo="miratcan/miratcan.github.io"
        issue-term="title"
        label="Comment"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}
