.highlight,
div.hll {
  background: #111;
  color: var(--c7);
}

div.hll {
  margin: 1rem 0;
}

div.hll pre {
  margin: 0;
}

.highlight .hll {
  background-color: rgba(255, 255, 255, 0.08);
}

.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color: var(--c8);
  font-style: italic;
}

.highlight .err {
  color: var(--c5);
  border-bottom: 1px dotted var(--c5);
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .ow {
  color: var(--c9);
  font-weight: 600;
}

.highlight .o,
.highlight .go,
.highlight .gp {
  color: var(--c15);
}

.highlight .gh,
.highlight .na,
.highlight .nc,
.highlight .ne,
.highlight .nf,
.highlight .nn {
  color: var(--c4);
  font-weight: 600;
}

.highlight .nb,
.highlight .bp,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: var(--c10);
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: var(--c14);
}

.highlight .s,
.highlight .sa,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sr,
.highlight .s1,
.highlight .s2 {
  color: var(--c6);
}

.highlight .gi {
  color: var(--c3);
}

.highlight .gd {
  color: var(--c5);
}

.highlight .w {
  color: inherit;
}
