.hll {
  background: var(--c0);
  color: var(--c7);
  margin: 1rem 0;
}

.hll pre {
  background: inherit;
  margin: 0;
}

.hll .hll {
  background-color: rgba(255, 255, 255, 0.12);
  background-color: color-mix(in srgb, var(--c15) 12%, transparent);
}

.hll .c,
.hll .ch,
.hll .cm,
.hll .c1,
.hll .cs {
  color: var(--c8);
  font-style: italic;
}

.hll .err {
  color: var(--c5);
  border-bottom: 1px dotted var(--c5);
}

.hll .k,
.hll .kc,
.hll .kd,
.hll .kn,
.hll .kp,
.hll .kr,
.hll .kt,
.hll .ow {
  color: var(--c9);
  font-weight: 600;
}

.hll .o,
.hll .go,
.hll .gp {
  color: var(--c15);
}

.hll .gh,
.hll .na,
.hll .nc,
.hll .ne,
.hll .nf,
.hll .nn {
  color: var(--c4);
  font-weight: 600;
}

.hll .nb,
.hll .bp,
.hll .nv,
.hll .vc,
.hll .vg,
.hll .vi,
.hll .vm {
  color: var(--c10);
}

.hll .m,
.hll .mf,
.hll .mh,
.hll .mi,
.hll .mo,
.hll .il {
  color: var(--c14);
}

.hll .s,
.hll .sa,
.hll .sb,
.hll .sc,
.hll .sd,
.hll .se,
.hll .sh,
.hll .si,
.hll .sr,
.hll .s1,
.hll .s2 {
  color: var(--c6);
}

.hll .gi {
  color: var(--c3);
}

.hll .gd {
  color: var(--c5);
}

.hll .w {
  color: inherit;
}
